In [68]:

import pandas as pd
import numpy as np

emo_neg = pd.read_csv('/Users/barbararuvolo/Desktop/EPFL/Digital Musicology/computational-social-media/datasets/negative_first_emotions.csv')
emo_pos = pd.read_csv('/Users/barbararuvolo/Desktop/EPFL/Digital Musicology/computational-social-media/datasets/positive_first_emotions_final_final.csv')
all = pd.read_csv('/Users/barbararuvolo/Desktop/EPFL/Digital Musicology/computational-social-media/datasets/sentiment_first.csv', usecols=['user_name', 'user_description','tweets','label', 'date'])

In [69]:
df = all.sort_values(by='date')
df.date = pd.to_datetime(df.date)
first = df[df.date.dt.month == 12] # first month

In [70]:
emo_pos

            label     score
0        optimism  0.984688
1             joy  0.428626
2      admiration  0.974384
3       amusement  0.984916
4       amusement  0.991430
...           ...       ...
18546  excitement  0.735533
18547  admiration  0.793557
18548     neutral  0.831502
18549     neutral  0.808560
18550        love  0.787240

[18551 rows x 2 columns]

In [71]:
len(first)

52337

In [72]:
positive_first = first[first.label == 'positive']
negative_first = first[first.label == 'negative']
neutral_first = first[first.label == 'neutral']

In [73]:
len(positive_first)

18551

In [74]:
len(emo_pos)

18551

In [75]:
len(negative_first)

9981

In [76]:
len(emo_neg)

9981

In [77]:
positive_first.insert(5, 'emotion', emo_pos['label'].values, True)

In [79]:
negative_first.insert(5, 'emotion', emo_neg['label'].values, True)

In [80]:
#concatenate the two dataframes plus neutral_first dataframe
frames = [positive_first, negative_first]

result = pd.concat(frames)

In [81]:
result

,user_name,user_description,tweets,label,date,emotion
0,norman meuschke,postdoc gipplab unigoettingen phd unikonstanz ...,#ChatGPT and similar #LLM pose a challenge to ...,positive,2022-12-05 17:08:20+00:00,optimism
3,iamtmoyo,blockchain enthusiast philanthropist slave jav...,"Levelsüôèüôèüôè,so happy for the chatGPT team for co...",positive,2022-12-05 17:10:31+00:00,joy
4,nenu,brain meant processing million tweet post vide...,"ChatGPT is the biggest, smartest brain üß† in th...",positive,2022-12-05 17:11:10+00:00,admiration
5,nick perkins hebrew development manager,proud dad husband dev manager io eng teacher d...,Ok now @OpenAI is just showing off. lol #ChatG...,positive,2022-12-05 17:11:37+00:00,amusement
6,tushar tajane,artisan technocrat ecommerce performance marke...,@jebraat Keep exploring and tweeting screensho...,positive,2022-12-05 17:12:08+00:00,amusement
...,...,...,...,...,...,...
52312,zer int it,prompt engineering prompt criticality it addre...,"WAT?! What are you doing, #ChatGPT? ü§ì\n\nDid t...",negative,2022-12-31 23:24:37+00:00,admiration
52319,cry gen,guardian earth serving greater good protecting...,@OpenAI Hi there - I'm having trouble with the...,negative,2022-12-31 23:34:27+00:00,confusion
52324,melissa roe,podcaster creative writer love bake listen new...,Has anyone noticed that #ChatGpt may be easy t...,negative,2022-12-31 23:40:21+00:00,realization
52327,weird gpt,weird creative dall chatgpt gpt generation,"Unfortunately, that's just impossible #GPT-3 #...",negative,2022-12-31 23:47:01+00:00,disappointment
52334,kawtar choubari,content creator software engineer tweet progra...,Sounds like AI can't predict 2023 trends üòÜ\n#n...,negative,2022-12-31 23:58:37+00:00,disapproval

In [86]:
# count how many tweets per users

temp= result.groupby('user_name').size().sort_values(ascending=False).reset_index(name='counts')
temp.loc[temp.counts > 60]

             user_name  counts
0    beyondbacktesting      95
1    richard geldreich      91
2              chatgpt      81
3          richard kim      78
4  datachazgpt not bot      63

In [90]:
len(result)

28532

In [93]:
# from result remove users present in temp

res_temp = result[result.user_name != 'beyondbacktesting']
res_temp = res_temp[res_temp.user_name != 'richard geldreich']
res_temp = res_temp[res_temp.user_name != 'chatgpt']
res_temp = res_temp[res_temp.user_name != 'richard kim']
res_temp = res_temp[res_temp.user_name != 'datachazgpt not bot']

In [94]:
len(res_temp)

28124

In [95]:
# save in csv

res_temp.to_csv('/Users/barbararuvolo/Desktop/EPFL/Digital Musicology/computational-social-media/datasets/sentiment_fixed_first.csv', index=False)